html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  font-family:
    "Roboto",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  line-height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  background: var(--color-5);
  color: var(--text-black);
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
